@use '../../lib/service.scss' as s;

.title {
    font-size: 24px;
    font-weight: 700;
    color: s.color('primary');
    padding-bottom: s.space(8);
}

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(8);
    gap: s.space(8);
    border: 1px solid s.color('ligth');
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgb(177,172,172);

    &_title {
        font-size: 20px;
        font-weight: bold;
    }

    &_content {
        display: grid;
        gap:s.space(6)
    }

    &_product {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }

    &_edit {
        grid-template-columns: repeat(3,1fr);
    }

    &_field {
        display: flex;
        flex-direction: column;
        gap:s.space(2)
    }

    &_label {
        font-size: 16px;
    }

    &_input {
        border:1px solid s.color('ligth');
        padding: s.space(2);
    }

    &_text {
        font-size: 12px;
    }

    &_button {
        border: 1px solid s.color('ligth');
        padding: s.space(2);
        background-color: s.color('primary');
    }

    &_button-edit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:s.space(8)
    }

    &_button-delete {
        background-color: red;
        text-decoration: none;
        text-align: center;
    }
}


section {
    padding: s.space(2)
}

.button_text {
    color: white;
    font-size: 16px;
}

